<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633942307164-h5ga087mq8pmu2b5iuvi2bnqs07o1qcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633942307164-h5ga087mq8pmu2b5iuvi2bnqs07o1qcu</string>
	<key>API_KEY</key>
	<string>AIzaSyBruIvugZIdtq-Xz-kmNbauIXmNNqvq0Is</string>
	<key>GCM_SENDER_ID</key>
	<string>633942307164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.succeed</string>
	<key>PROJECT_ID</key>
	<string>succeed-try-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>succeed-try-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633942307164:ios:18e01fddeaccd413</string>
	<key>DATABASE_URL</key>
	<string>https://succeed-try-auth.firebaseio.com</string>
</dict>
</plist>